.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../Imagens/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao{
    display: none;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
    font-family: var(--main-font);
}

.lista-menu__link{
    font-family: var(--main-font);
    background: var(--azul-font);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

.container__botao:checked ~ .container__rotulo> .cabecalho__menu-hamburguer{
    background-image: url("../Imagens/Menu\ Aberto.svg");
} 

.container__botao:checked ~ .container__rotulo{
    background: var(--azul-font);
}

@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito{
        display: inline-block;
        font-size: 30px;
        font-family: var(--second-font) ;
    }
    
    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        text-transform: uppercase;
        padding: 1em;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente, 
    .cabecalho__menu-hamburguer, 
    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__item:hover{
        cursor: pointer;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--azul-font);
        color: var(--branco);
    }

    .lista-menu__item:hover{
        cursor: pointer;
        background-color: var(--azul-font);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px){

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho{
        padding: 0 2em;
    }

    .container__texto{
        display: block;
    }

    .opcoes{
        margin-right: auto;
    }

}